/* Font Family  */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');

/* MAIN HTML ELEMENTS */
:root {
	--primaryColor: #607d8b;
	--secondayColor: #455a64;
	--lightColor: #e5e5e5;
	--darkColor: #333333;
}

body {
	margin: 0px;
	background-color: var(--darkColor);
	color: #e5e5e5;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'JetBrains Mono', monospace;
}

button {
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	cursor: pointer;
	border: none;
	appearance: none;
	transition: 0.2s ease-in-out;
	font-family: 'JetBrains Mono', monospace;
	color: var(--lightColor);
}

button:hover {
	opacity: 0.8;
}
/* Calculator Container  */
.mainCalc {
	width: 100%;
	max-width: 300px;
	border-radius: 20px;
	box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	overflow: hidden;
}

/* Calculator Screen */
.screen {
	word-wrap: normal;
	background-color: var(--lightColor);
	color: var(--darkColor);
	text-align: right;
	padding: 15px 15px 15px;
	font-size: 22px;
}

.screen span {
	font-size: 12px;
}

/* Operator Buttons */
.operators {
	display: flex;
	justify-content: center;
}

.operators > button {
	flex: 1 1 33%;
	cursor: pointer;
	background-color: var(--primaryColor);
	padding: 15px 25px 15px 25px;
	text-align: center;
}

/* Main Calculator Buttons */
.main-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-buttons > button {
	flex: 1 1 33%;
	background-color: var(--secondayColor);
	padding: 15px 25px 15px 25px;
}
